.moves {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#try {
  visibility: hidden;
}

.rock {
  visibility: visible;
}

.paper {
  visibility: visible;
}
.scissors {
  visibility: visible;
}
